@import "tailwindcss";

body {
  margin: 0;
  height: 400vh;
  background: #000;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-text {
  animation: float 3s ease-in-out infinite;
}

/* ancho de la barra */
::-webkit-scrollbar {
  width: 10px;
}

/* color de fondo de la barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* color y forma del "pulgar" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 4px;
}

/* hover del pulgar */
::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}