@import "tailwindcss";

body {
  margin: 0;
  height: 300vh;
  background: #000;
}

.neon-green {
  color: #22c55e; /* Verde Tailwind (green-500) */
  text-shadow:
    0 0 5px #22c55e,
    0 0 10px #22c55e,
    0 0 20px #16a34a,
    0 0 40px #15803d;
  animation: flicker-green 2s infinite alternate;
}

@keyframes flicker-green {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.4;
  }
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-text {
  animation: float 3s ease-in-out infinite;
}

/* ancho de la barra */
::-webkit-scrollbar {
  width: 10px;
}

/* color de fondo de la barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* color y forma del "pulgar" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 4px;
}

/* hover del pulgar */
::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}